RewriteEngine On

# Điều kiện 1: Nếu URL không trỏ tới tệp hoặc thư mục cụ thể
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Quy tắc chung: Chuyển mọi yêu cầu khác đến index.php (giữ nguyên tham số)
RewriteRule ^(.*)$ index.php [QSA,L]
